    body {
        font-family: 'Open Sans', sans-serif;
        padding-top: 20px;
        background: #F5F7FA;
    }
    
    h2 {
        text-align: center;
        font-weight: bold;
    }
    
    #brand {
        margin: 50px 0 30px;
    }
    
    .container {
        margin: 20px 0 0;
        background: #fff;
        padding: 25px 10px 0;
        border-radius: 5px;
        margin: 0 auto;
        width: 430px;
        box-shadow: 0 4px 8px 0 rgba(100, 100, 100, 0.2), 0 6px 20px 0 rgba(100, 100, 100, 0.2);
    }
    
    .form-group {
        margin: 35px;
    }
    
    .btn {
        margin: 30px 0;
        border-radius: 25px;
        width: 100%;
    }
    
    .link {
        font-size: 12px;
    }
    
    .form-control {
        height: auto;
        padding: 8px;
        font-size: 15px;
    }
    
    .input-group {
        margin-bottom: 10px;
    }
    
    .page-footer {
        text-align: center;
        margin-top: 24px;
        font-size: 16px;
        color: #9A9A9B;
    }